/jaxb-refractoring/target/
/jaxb-utils/target/
/searchChallenge/target/
/lab02-classloaders/target/
/final/kwic-shared/target/
/lab05/lab05-proxy/target/
/koleda/nbproject/private/
/koleda/dist/
/koleda/build/
/lab06/EshopWizard/target/
/lab07-state+command/traffic-light-command-pattern/target/
/lab07-state+command/traffic-light-state-pattern/target/
/lab07-state+command/robot-command-pattern/target/